@media (min-width: 1200px) {
  #Experience {
    margin-top: 30px;
  }
}

@media (max-width: 1200px) {
  #Experience {
    padding-top: 20px;
  }
}

@media (min-width: 992px) {
  #Pos1, #Com1 {
    font-size: 25px;
  }
}

@media (max-width: 992px) {
  #Pos1, #Com1 {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  #Pos1, #Com1 {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  #Pos1, #Com1 {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  #Pos1 {
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  #ExpIcon {
    font-size: 40px;
  }
}

@media (max-width: 992px) {
  #ExpIcon {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  #ExpIcon {
    font-size: 25px;
  }
}

@media (max-width: 360px) {
  #ExpIcon {
    font-size: 20px;
  }
}

@media (max-width: 576px) {
  #ExpRow1 {
    margin-left: 10px;
  }
}

@media (min-width: 1200px) {
  #Time {
    font-size: 26px;
  }
}

@media (max-width: 992px) {
  #Time {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  #Time {
    font-size: 16px;
  }
}

@media (max-width: 360px) {
  #Time {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  #topRow {
    flex-direction: column;
  }
}

