@media (min-width: 1200px) {
  #Experience {
    margin-top: 5px;
  }
}

@media (max-width: 992px) {
  #Pos1 {
    font-size: 28px;
  }
}

@media (max-width: 576px) {
  #Pos1 {
    font-size: 22px;
  }
}

@media (min-width: 992px) {
  #Pos1 {
    margin-top: 8px;
  }
}

@media (max-width: 360px) {
  #Pos1 {
    font-size: 20px;
  }
}

