.TopStrip{
    max-width: 100%;
    display: block;
    min-width: 100%;
    src : "files/BlueStrip.png";
    height:50px;   
  }
  .items {
    display: flex;
    justify-content: space-between;
  }
.Title {
color: maroon;
text-align: center;

}
